# macOS
.DS_Store

# Python
__pycache__/
venv/

# Local backups
app_backup_*.py

# Runtime files
assets/
outputs/

# Temp / test
step*_test.py
*.bak
*.save

# Old experimental scripts
step3_overlay.py
step_pants_*.py
app_*backup*.py
app_*_backup.py
app_before_*.py
step_top_overlay_*backup*.py
step_top_overlay_before_*.py
